{% extends "base.html" %}

{% block title %}Setting New password{% endblock title %}

{% block content %}

<div class="row">

    <!-- Main Blog Content -->
    <div class="eight columns settop" role="main">

        <h4>Create A New Password</h4>
        
        <div class="row">
         
         <div class="eight columns">
        
            <form action="" id="main_form" method="post">
            
                    
                {% csrf_token %}
                {% if validlink %}
                    <p>Enter your new password twice so we can verify you typed it in correctly.</p>
                    
                    <span id="validation_msg_email" style="color:Red;display:none;">Please enter a new password in both fields.</span>
                        
                    <p>
                        {{ form.new_password1.errors }}<br/>
                        {{ form.new_password1 }}
                    </p>
                            
                    <p class="button-height">
                        {{ form.new_password2.errors }}<br/>
                        {{ form.new_password2 }}
                    </p>
                {% else %}
                    <h4>Password reset unsuccessful</h4>
                    <p>The password reset link was invalid, either because it has already been used, or it has expired.
                       Please request a new password reset.</p>
                       <br/>
                {% endif %}
                        
                <input type="button" value="Change my password" class="button radius right" onclick="javascript:onclick_submit();"/>
                    
                
            </form>
            
        </div>

       </div>

    </div>
    
    <!-- Sidebar -->

    <aside class="four columns">
	<div class="panel panel-white">
        <div class="row">
            <div class="twelve columns">
                <img src="/static/images/foundation/custom/logined.jpg" alt="">
            </div>
        </div>
      </div>
    </aside>
    
</div>

<!-- End Main Content and Sidebar -->
  <script type="text/javascript">
    function onvendor_signup()
    {
        location.href = "/vendor_signup";
    }
    function onclick_submit()
    {
        var is_valid = true;

        var pw1 = $('#id_new_password1').val();
        var pw2 = $('#id_new_password2').val();
        if ($.trim(pw1).length == 0) {
            $("#validation_msg_email").css("display", "inline");
            is_valid = false;
        } else {
            $("#validation_msg_email").css("display", "none");
        }
        
        if ($.trim(pw2).length == 0) {
            $("#validation_msg_email").css("display", "inline");
            is_valid = false;
        } else {
            $("#validation_msg_email").css("display", "none");
        }

        if(is_valid){
            $("#main_form").submit();
        }
    }
  </script>
{% endblock content %}