@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/gothic.eot');
    src: url('../fonts/gothic.eot') format('embedded-opentype'),
         url('../fonts/gothic.woff') format('woff'),
         url('../fonts/gothic.ttf') format('truetype'),
         url('../fonts/gothic.svg#CenturyGothicRegular') format('svg');
}

body{
	font-size:10px!important		
}

h4 {
    color: #ED008C !important;
}

.row {
    background-color: white;
    /*padding-left: 30px;*/
}

.row.main, .row.main .row {
    padding-left: 0px !important;
}

.row.content {
    min-height: 500px;
}

.button {
    background: none repeat scroll 0 0 #ED008C;
    border: 1px solid #1E728C;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 10px 20px 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out 0s;
    width: auto;
}
.button:hover, .button:focus {
    background-color: #8F0056;
    color: #FFFFFF;
}

.toppity {
    height: 10px;
}
/*Header*/
.header .logo {
    float: left;
    margin-top: 25px;
    font-family: 'dinengschriftregular', 'Arial Narrow', Arial, Sans-Serif !important; 
    font-size: 64px;
    color: black;
}

.logo{
	margin:56px auto;
	text-align:center	
}
.nav-bar{
	background-color:#fff!important;
	margin-left: 20px !important;
}
.nav-bar > li{
	border:none!important	
}
.nav-bar > li > a:hover, ul.sub-nav li a.active, a:hover {
	color:#ED008C !important;	
}
.red{
	color:#D10000	
}
textarea.profile{
	height:90px!important;
	max-width:460px	!important;
	
}
.usm-zebra-block {
    /*padding-top: 10px;*/
    /*border: 1px solid #dddddd;*/
}

.usm-zebra-block-two-up li:nth-child(4n-1),.usm-zebra-block-two-up li:nth-child(4n)  { background: #f9f9f9; }
.usm-zebra-block-three-up li:nth-child(6n),.usm-zebra-block-three-up li:nth-child(6n-1),.usm-zebra-block-three-up li:nth-child(6n-2) { background: #f9f9f9; }

.main-contract {
    text-transform: uppercase;
}

.description{
	max-width:472px	!important;
}
.description table,.description table tr td{
	border:none;
	padding:0px	
}
.panel-white{
	background:#fff!important;
	padding:10px!important;
	margin-top:20px!important	
}
.settop{
	padding-top:8px!important	
}
.setleft{
	margin-left:20px!important	;
}
.floatLeft{
	float:left!important
}
.underline{
	text-decoration:underline	
}
.space-left{
	margin-left:15px!important	
}
table.no-border, table.no-border tr td{
	border:none!important;
	padding:0px!important;
	margin:0px!important	
}
input.file {
	position: absolute;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	opacity: 0;
	z-index: 2;
	right:-30px
}
.setHeight{
	padding:10px 14px 8px!important	;
	z-index:1;
	position:relative
}
.fix-width{
	min-width:100px!important	
}
.group-newmargin{
	margin:0 0 1px!important	
}
.settop2{
	margin-top:40px!important	
}
ul.button-group li input[type="text"]{
	border:none!important;
	box-shadow:none!important
}
.login-btn{
	min-width:128px!important	
}
.loginas-btn{
	min-width:228px!important	
}
ul.sub-nav{
	list-style:none;
	background:#F2F2F2;
	padding:10px;
	margin:15px 0px 0 0;
    width: 100%;
}
ul.sub-nav li{
	display:inline-block;
	margin-right:20px;
	font:bold 13px/20px CenturyGothicRegular, 'Apple Gothic', Verdana, sans-serif;	
}
ul.sub-nav li.last-nav{
	margin-right:0px	
}
ul.breadcrumbs{
    float: right;
    background:#ffffff;
    border: none;
}
label.complete{
	color:#457A1A	
}
label.incomplete{
	color:#D10000	
}
label.unknown{
	color:#0066cc	
}
a.question{
	font-size:16px!important	
}
.already-font{
	font-size:14px!important;
}
.space-left2{
	
}
/*table*/
table.images-upload{
	width:100%	
}
table.images-upload tr td:first-child{
	width:80px	
}
table.images-upload tr td:last-child{
	vertical-align:middle
}

/*Scroll*/
.scroll-pane
{
	width: 100%;
	height: 400px;
	overflow: auto;
}
.scroll-pane p{
	padding-right:10px	
}

/*Footer*/
.footer{
	color:#BBBBBB;
	width:100%;
    padding-top: 20px;
}

.cappie { text-transform: capitalize }

.errorlist li {
    color: white;
    background: none repeat scroll 0 0 #C60F13;
    font-weight: bold;
    padding: 6px 4px;
    font-size: 12px;
}

th.email {
    width: 250px;
    overflow: hidden;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    float: left;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute !important;
    top: -36px !important;
    left: 0px !important;
    width: 155px !important;
    transform: none !important;
}

.overlay {
    position: absolute;
    width: 16px;
    height: 16px;
    margin-left: 5px;
    margin-top:5px;
    background: url('/static/images/Neu/16x16/actions/dialog-cancel.png') 0 0 no-repeat;
    padding: 1px;
    display: none;
}

.hotspot {
    border: 1px dotted #ccc;
    float: left;
    padding: 10px;
    margin: 10px;
}

.hotspot:hover {
    background: #ddd;
}

#progress {
    display: none;
}

#filetable li div.theimage {
    float: left;
    padding: 5px;
    border: 1px dotted #ccc;
    margin: 5px;
}
#filetable li div.theinfo {
    float: left;
    width: 50%;
}
#filetable li div.theinfo i {
    font-size: 12px;
    color: #666;
}
#filetable li div.theinfo a.breaker {
    float: left;
    clear: both;
}

#filetable li div.theinfo a.nobreaker {
    float: left;
}

#filetable li div.theinfo span.status {
    clear: both;
    float: left;
    margin-right: 5px; 
}

.editable-input input[type="text"], 
.editable-input input[type="textarea"] {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 14px;
    height: 18px;
    margin: 2px 0px 12px 0px;
    padding: 2px !important;
    transition: all 0.15s linear 0s;
    width: 90%;
}

.editable-input textarea {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 12px;
    height: 50px;
    margin: 2px 0px 12px 0px;
    padding: 2px !important;
    transition: all 0.15s linear 0s;
    width: 90%;
}

.editable-submit, .editable-cancel {
    background: none repeat scroll 0 0 #ED008C;
    border: 1px solid #1E728C;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.15s ease-in-out 0s;
    width: auto;
}

.editable-submit:hover, .editable-submit:focus, .editable-cancel:hover, .editable-cancel: focus {
    background-color: #8F0056;
    color: #FFFFFF;
}

.editable-container.editable-inline {
    clear: both;
}

.editable-clear-x {
    margin-top: -4px !important;
    right: 18px !important;
    top: 30% !important;
}

.editable-error {
    font-size: 10px !important;
    margin-top: -10px !important;
}