<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Special Project Office: Project Moma</title>

  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/foundation-3/foundation.css">
  <link href="/static/fonts/DIN/stylesheet.css" media="screen" rel="stylesheet" type="text/css" charset="utf-8" />
  <link href="/static/fonts/Universe/stylesheet.css" media="screen" rel="stylesheet" type="text/css" charset="utf-8" />
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/app.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/spo.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/custom.css" /> 
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/bootstraps.css" /> 
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-datepicker/smoothness.datepick.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jquery-growl/stylesheets/jquery.growl.css" />
  <link href="{{ STATIC_URL }}javascripts/jquery-editable/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>

  <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
  <link rel="stylesheet" href="{{ STATIC_URL }}javascripts/jQuery-File-Upload-8.3.2/css/jquery.fileupload-ui.css">

  <script src="{{ STATIC_URL }}javascripts/foundation-3/modernizr.foundation.js"></script>
  <script src="{{ STATIC_URL }}javascripts/lodash.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.js"></script>
  <script src="{{ STATIC_URL }}javascripts/common.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery.form.js"></script> 
  <script src="{{ STATIC_URL }}javascripts/jquery-validation-1.9.0/jquery.validate.js"></script>          
  <script src="{{ STATIC_URL }}javascripts/foundation-3/jquery.foundation.reveal.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery-datepicker/jquery.datepick.js"></script>  
  <script src="{{ STATIC_URL }}javascripts/jquery-growl/javascripts/jquery.growl.js"></script>                          
  <script src="{{ STATIC_URL }}javascripts/poshytip-1.2/src/jquery.poshytip.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery-editable/jquery-editable/js/jquery-editable-poshytip.min.js"></script>
  <script src="{{ STATIC_URL }}javascripts/jquery-masonry/masonry.pkgd.min.js"></script>

  <!-- Included JS Files (Compressed) -->
  
  <script src="{{ STATIC_URL }}javascripts/jQuery-File-Upload-8.3.2/js/vendor/jquery.ui.widget.js"></script>
  <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
  <script src="{{ STATIC_URL }}javascripts/jQuery-File-Upload-8.3.2/js/jquery.iframe-transport.js"></script>
  <!-- The basic File Upload plugin -->
  <script src="{{ STATIC_URL }}javascripts/jQuery-File-Upload-8.3.2/js/jquery.fileupload.js"></script>
  
  {% block javascripts %}{% endblock %}
  
</head>
<body>

    <div class="row main">
    
        <div class="small-12 columns inset">
            
            <!-- Nav Bar -->
            <div class="row header">
                <div class="large-12 columns logo">
                    <span class="logo">Special Project Office</span>
                    <!--<img src="/images/main_logo.jpg">-->
                </div>
                
                <div class="headquarters">
                    <!--
                    Headquartered in<br />
                    Downtown Brooklyn<br />
                    <br />-->
                    <a href="#askus" class="button asktop">Ask Us Anything</a>
                    <!--<br />
                    <a href="mailto:ask@specialprojectoffice.com">ask@specialprojectoffice.com</a>-->
                </div>
            </div>
          <!-- End Nav -->
          
        </div>
        
    </div>
    
    <div class="row main pink">
    
        <div class="small-12 columns inset toppity">
            
        </div>
        
    </div>

{% block content %}Empty page{% endblock %}

  <!-- Footer -->

    <div class="row footer">
        <div class="twelve columns">
            <div class="row footer">
                <div class="six columns">
                    <p>&copy; 2014 Special Project Office. All Rights Reserved.</p>
                </div>
                
            </div>
        </div>
    </div>
  
  <!-- End Footer -->
  <div id="Modal" class="reveal-modal large"></div>
           
  <!-- Initialize JS Plugins -->
  <script src="{{ STATIC_URL }}javascripts/app.js"></script>

</body>
</html>
