{% extends "base.html" %}

{% block title %}Forgot Password{% endblock title %}

{% block content %}

<div class="row">

    <!-- Main Blog Content -->
    <div class="eight columns settop" role="main">

        <h4>Vendor Password Reset</h4>
		
        <div class="row">
         <div class="twelve columns">
            <form method="post" id="main_form" action="{% url "django.contrib.auth.views.password_reset" %}">
                
                <div class="row">
                    <div class="six columns">
                    
                        <label class="h6">Password Reset</label>
                        
                        {% csrf_token %}
                        <p>Please enter your email address below. You will receive a link to create a new password via email.</p>
                        
                        <span id="validation_msg_email" style="color:Red;display:none;">Please enter valid email address</span>
                                    
                        <input type="text" name="email" id="id_Email" placeholder="Email" value="{{ form_values.Email }}">
                                                
                        <input type="button" value="Send Me A New Password" class="button radius right" onclick="javascript:onclick_submit();"/>
                    
                    </div>

                    <div class="six columns">
                    	<label class="h6">First Time?</label>
                    	<input type="button" value="Create An Account" class="button radius" onclick="javascript:onvendor_signup();" />
                    </div>
                    
             </div><!--row-->
             
            </form>
            
         </div>

       </div>

    </div>

    <!-- End Main Content -->


    <!-- Sidebar -->

    <aside class="four columns">
	<div class="panel panel-white">
        <div class="row">
            <div class="twelve columns">
                <img src="/static/images/population.jpg" alt="">
            </div>
        </div>
      
      </div>
    </aside>

    <!-- End Sidebar -->
   
</div>

<!-- End Main Content and Sidebar -->
<script type="text/javascript">
function onvendor_signup()
{
    location.href = "/vendor_signup";
}

function onclick_submit()
{
    var is_valid = true;

    var sEmail = $('#id_Email').val();
    if ($.trim(sEmail).length == 0 || validateEmail(sEmail) == false) {
        $("#validation_msg_email").css("display", "inline");
        is_valid = false;
    }
    else {
        $("#validation_msg_email").css("display", "none");
    }

    if(is_valid){
        $("#main_form").submit();
    }
}
</script>
  
{% endblock content %}