{% extends "base.html" %}
{% block content %}

  {% if user.is_authenticated %}
  <div class="row">
  	<div class="twelve column">
    	 <ul class="sub-nav">
            <li><a href="/">Home</a></li> 
            <li><a class="active" href="#">The Gallery</a></li> 
            <li><a href="/profile">My Profile</a></li> 
            <li><a href="/my_images">My Photos</a></li>              
            <li><a href="/logout">Logout</a></li>
            <li style="float:right;">{{ user.email }}</li>
         </ul>
		
    </div>
  </div>
  {% else %}
  
  <div class="row">
  	<div class="twelve column">
    	 <ul class="sub-nav">
            <li><a href="/">Home</a></li> 
            <li><a href="/gallery">The Gallery</a></li> 
            <li style="float:right;"><a href="/login">Login</a></li>
         </ul>
    </div>
  </div>
  
  {% endif %}
    
  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Main Blog Content -->
    <div class="twelve columns" role="main" id="container">
        
        {% if vendor_images %}
            {% for image in vendor_images %}
                <div class="item">
                    <img id="display_{{image.id}}" src="/static/media/{{image.ImgFile.url}}" alt="" />
                </div>
            {% endfor %}
        {% else %}
        
        <h4>No Images, check back later.</h4>
        {% endif %}
        
    </div>
     
  </div>
  
  <script type="text-javascript">
    var container = document.querySelector('#container');
    var msnry = new Masonry( container, {
      // options
      columnWidth: 200,
      itemSelector: '.item'
    });
  </script>
  <!-- End Main Content and Sidebar -->
{% endblock %}