{% extends "base.html" %}
{% block content %}

  <!-- Main Page Content and Sidebar -->

  {% if user.is_authenticated %}
  <div class="row">
  	<div class="twelve column">
    	 <ul class="sub-nav">
            <li><a class="active" href="/">Home</a></li> 
            <li><a href="/gallery">The Gallery</a></li> 
            <li><a href="/profile">My Profile</a></li> 
            <li><a href="/my_images">My Photos</a></li>              
            <li><a href="/logout">Logout</a></li>
            <li style="float:right;">{{ user.email }}</li>
         </ul>
		
    </div>
  </div>
  
  {% if user.is_staff or user.is_superadmin %}
  <div class="row">
  	<div class="seven column">
        &nbsp;
    </div>
    <div class="five column">
    	 <ul class="breadcrumbs">
            <li><a href="/" class="active">Public Site</a></li>
            <li><a href="/admin/" class="active">Django Admin</a></li>
            <li><a href="/logout/" class="active">Logout</a></li>
        </ul>
    </div>
  </div>
  {% endif %}
  
  {% else %}
  
  <div class="row">
  	<div class="twelve column">
    	 <ul class="sub-nav">
            <li><a href="/">Home</a></li> 
            <li><a href="/gallery">The Gallery</a></li>
            <li style="float:right;"><a href="/login">Login</a></li>
         </ul>
    </div>
  </div>
  
  {% endif %}

    <div class="row">

        <!-- Main Blog Content -->
        <div class="six columns" role="main" style="text-align: center">
            <h4>Nothing yet :)</h4>
            <br /><br /><br />
        </div>
        
    </div> 
  <!-- End Main Content and Sidebar -->
{% endblock %}